
{% extends 'base.html.twig' %}

{% block title %}{{titile}}{% endblock %}

{% block body %}
    {{ include('menu.html.twig') }}
<div class="row setup-content" id="step-3">
    <div class="col-xs-6 col-md-offset-3">
        <div class="col-md-12">
            <h3> Step 3</h3>
            <form id="form_step1" action="/step3" method="post">

              <div class="form-group">
                    <label class="control-label">Account owner  </label>
                    <input maxlength="30" type="text"  value="{{ dataForm['account_owner'] }}" name="account_owner" required="required" class="form-control" placeholder="Enter account_owner">
                    <small class="text-danger">{{ errorMesage['account_owner']['error']|raw }}</small>
              </div>

            <div class="form-group">
                <label class="control-label">IBAN  </label>
                <input maxlength="18" type="text"  value="{{ dataForm['iban'] }}" name="iban" required="required" class="form-control" placeholder="Enter iban">
                <small class="text-danger">{{ errorMesage['iban']['error']|raw }}</small>
            </div>
            <button class="btn btn-primary prevBtn btn-lg pull-left target"  onclick="window.location.href='/step2'" type="button">Previous</button>
            <button class="btn btn-success btn-lg pull-right" step="3" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
